// @include media queries
@mixin min-width-($i) {
  @media (min-width: $i * 1px) {
    @content;
  }
}

@mixin max-width-($i) {
  @media (max-width: $i * 1px) {
    @content;
  }
}

@mixin min-to-max-width($min, $max) {
  @media (min-width: $min * 1px) and (max-width: $max * 1px) {
    @content;
  }
}

//Min


@mixin min-laptop-xlg {
  @media (min-width: $min-screen-laptop-xlg) {
    @content;
  }
}

@mixin min-laptop-lg {
  @media (min-width: $min-screen-laptop-lg) {
    @content;
  }
}

@mixin min-laptop-md {
  @media (min-width: $min-screen-laptop-md) {
    @content;
  }
}

@mixin min-laptop-xs {
  @media (min-width: $min-screen-laptop-xs) {
    @content;
  }
}

@mixin min-tablet-xlg {
  @media (min-width: $min-screen-tablet-xlg) {
    @content;
  }
}

@mixin min-tablet-lg {
  @media (min-width: $min-screen-tablet-lg) {
    @content;
  }
}

@mixin min-tablet-md {
  @media (min-width: $min-screen-tablet-md) {
    @content;
  }
}

@mixin min-tablet-sm {
  @media (min-width: $min-screen-tablet-sm) {
    @content;
  }
}

@mixin min-tablet-xs {
  @media (min-width: $min-screen-tablet-xs) {
    @content;
  }
}

@mixin min-mobile-xlg {
  @media (min-width: $min-screen-mobile-xlg) {
    @content;
  }
}

@mixin min-mobile-xlg {
  @media (min-width: $min-screen-mobile-xl) {
    @content;
  }
}

@mixin min-mobile-lg {
  @media (min-width: $min-screen-mobile-lg) {
    @content;
  }
}

@mixin min-mobile-md {
  @media (min-width: $min-screen-mobile-md) {
    @content;
  }
}

@mixin min-mobile-xs {
  @media (min-width: $min-screen-mobile-xs) {
    @content;
  }
}

//Max

@mixin max-laptop-xlg {
  @media (max-width: $max-screen-laptop-xlg) {
    @content;
  }
}

@mixin max-laptop-lg {
  @media (max-width: $max-screen-laptop-lg) {
    @content;
  }
}

@mixin max-laptop-md {
  @media (max-width: $max-screen-laptop-md) {
    @content;
  }
}

@mixin max-laptop-xs {
  @media (max-width: $max-screen-laptop-xs) {
    @content;
  }
}

@mixin max-tablet-xlg {
  @media (max-width: $max-screen-tablet-xlg) {
    @content;
  }
}

@mixin max-tablet-lg {
  @media (max-width: $max-screen-tablet-lg) {
    @content;
  }
}

@mixin max-tablet-md {
  @media (max-width: $max-screen-tablet-md) {
    @content;
  }
}

@mixin max-tablet-sm {
  @media (max-width: $max-screen-tablet-sm) {
    @content;
  }
}

@mixin max-tablet-xs {
  @media (max-width: $max-screen-tablet-xs) {
    @content;
  }
}

@mixin max-mobile-xlg {
  @media (max-width: $max-screen-mobile-xlg) {
    @content;
  }
}

@mixin max-mobile-xl {
  @media (max-width: $max-screen-mobile-xl) {
    @content;
  }
}

@mixin max-mobile-lg {
  @media (max-width: $max-screen-mobile-lg) {
    @content;
  }
}

@mixin max-mobile-md {
  @media (max-width: $max-screen-mobile-md) {
    @content;
  }
}

@mixin max-mobile-xs {
  @media (max-width: $max-screen-mobile-xs) {
    @content;
  }
}


